<div ng-show="visible" class="plex-library-root" ng-class="{'plex-library-embedded': embedded}">
    <!-- Modal backdrop only for non-embedded use -->
    <div ng-if="!embedded" class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgba(0, 0, 0, .5);">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Library</h5>
                    <span class="pull-right">
                        <label class="small" for="displayImages">Thumbnails</label>&nbsp;
                        <input id="displayImages" type="checkbox" ng-model="displayImages"></input>&nbsp;
                    </span>
                </div>
                <div class="modal-body">
                    <div ng-include src="'/templates/_plex-library-body.html'"></div>
                </div>
                <div class="text-danger px-3">{{error}}</div>
                <div class="modal-footer flex">
                    <div class="flex-grow-1" ng-show="positionChoice === true">
                        <select class="form-select form-select-sm custom-select" ng-model="insertPoint" id="position-selector"
                            ng-disabled="isLibrarySectionLoading()">
                            <option value="end">Insert at the end of list</option>
                            <option value="start">Insert at the beginning of list</option>
                            <option value="current">Insert at current scroll position</option>
                        </select>
                    </div>
                    <span class="text-info small mr-2" ng-show="isLibrarySectionLoading()">
                        <span class="fa fa-spinner fa-spin"></span> Loading libraries…
                    </span>
                    <div><button type="button" class="btn btn-sm btn-link" ng-click="_onFinish([])">Cancel</button></div>
                    <div>
                        <button type="button" class="btn btn-sm btn-primary"
                            ng-click="_onFinish(selection, insertPoint);"
                            ng-disabled="isLibrarySectionLoading()">
                            <span class="fa fa-spinner fa-spin" ng-show="isLibrarySectionLoading()"></span>
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Embedded panel for custom show editor: + adds straight into the show (no thumbnails) -->
    <div ng-if="embedded" class="plex-library-embed-panel border rounded p-2 bg-light">
        <div class="d-flex align-items-center mb-2">
            <span class="small text-muted mr-auto">Click + to add programs to this show immediately</span>
            <span class="small text-muted ml-2" ng-show="pending &gt; 0">
                <span class="fa fa-spinner fa-spin"></span> Adding…
            </span>
        </div>
        <div ng-include src="'/templates/_plex-library-body.html'"></div>
        <div class="text-danger small mt-1">{{error}}</div>
    </div>
</div>
