<div class="dizque-toast-stack">

    <div
        ng-repeat="toast in toasts track by $index"
        class="dizque-toast"
        ng-class="toast.clazz"
        ng-click="destroy($index)"
    >
        <div
             class="flex-container"
        >
            <div>
                <strong>{{ toast.title }}</strong>
            </div>
            <div class='flex-pull-right'>
                <button type="button" class="ml-1 close dizque-toast-close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="dizque-toast-text">{{ toast.text }}</div>
    </div>
</div>
